html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;


}

div.header-container {
  border-top: 20px solid #00cccc;
  height: 60px;
  margin-bottom: 0;
}

img.header-image{
  margin-top: 20px;
  position: relative;
  left: 25%;
  display: inline-block;
}

img.header-facebook{
  position: relative;
  display: inline-block;
  left: 56%;
}

#blog-link {
  padding-top: 0;
  position: relative;
  text-decoration: none;
  display: inline-block;
  left: 55%;
  color: #00cccc;
  font-size: 2em;
  font-weight: lighter;
}

#blog-link:hover {
  text-decoration: underline;
}
div.main-header {
  margin-top: 0;
  height: 100%;
  background-image: url("http://focusplanner.co/images/header.jpg");
  background-repeat: no-repeat;
}

h1#header-title {
  color: #99ffff;
  font-weight: ligher;
  position: relative;
  left: 29%;
  top: 26%;
  font-size: 3em;
}
h2#subheader-title {
  color: white;
  font-weight: lighter;
  position: relative;
  font-size: 2.5em;
  left: 29%;
  top: 22%;
}
h3#third-title {
  color: white;
  font-weight: lighter;
  position: relative;
  font-size: 2.5em;
  left: 29%;
  top: 18%;
}
button.winning {
  color: white;
  background: #458fd0 none repeat scroll 0 0;
  border: 0;
  position: relative;
  left: 29%;
  top: 150px;
  font-size: 1.5em;
}

button.winning:hover {
  color: #00e6e6;
  cursor: pointer;
}

div.main-content {
  margin-top: 100px;
  background-image: url("http://focusplanner.co/images/topo-map-bg-1.png");
  width: 100%;
  height: 200px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 100px;
}

p#content-quote {
  color: grey;
  position: relative;
  font-weight: lighter;
  font-size: 3em;
  left: 30%;
}

i#quote-author {
  position: relative;
  left: 70%;
  color: #00cccc;
  font-size: 1.2em;
}

div.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

p#bold {
  color: #595959;
  font-weight: bolder;
  font-size: 2.2em;
  text-align: center;
}

p#paragraph {
  color: grey;
  text-align: left;
  margin-left: 100px;
  font-size: 1.2em;
}

div.second-content-header {
  background-image: url("http://focusplanner.co/images/center.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-bottom: 100px;
}

h1#second-title {
  text-align: center;
  padding-top: 50px;
  color: #00cccc;
  font-size: 2.3em;
}
p#second-sub-title {
  font-size: 1.6em;
  color: white;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 15px;
}

p#second-third-title {
  font-size: 1.6em;
  color: white;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 15px;
}

p#second-fourth-title {
  font-size: 1.6em;
  color: white;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 15px;
}
